.call {
    padding-top: 82px;
    padding-bottom: 450px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: url("../../img/call_bg.png") center bottom -20px, linear-gradient( 180deg, rgba(240, 245, 251, 1) 0%, rgba(240, 245, 251, 1) 87%, rgba(255, 255, 255, 1) 87%, rgba(255, 255, 255, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.call__form {
    padding-top: 42px;
    max-width: 860px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 0 auto;
}

.call__input {
    padding: 20px 30px;
    color: #222222;
    border: 2px solid #ECEEF7;
    border-radius: 57px;
}

.call__btn {
    background: linear-gradient(180deg, #FE5626 0%, #F23F0E 100%), #59AAF1;
    box-shadow: 0px 4px 8px rgba(205, 169, 41, 0.26);
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.call__btn img {
    margin-left: 31px;
}

.call__btn:hover {
    background: #59AAF1;
}