.insta {
    min-height: 230px;
    background: url("../../img/insta.jpg") center no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin-bottom: 127px;
}

.insta__content {
    padding: 20px;
    background: linear-gradient(45.04deg, #FD9924 -51.05%, #F65B16 134.89%);
    box-shadow: 0px 70px 90px rgba(253, 55, 36, 0.2), 0px 35px 50px rgba(253, 55, 36, 0.2), 0px 20px 25px rgba(253, 55, 36, 0.2);
    border-radius: 15px;
}

.insta__link {
    display: inline-block;
    color: #fff;
    font-size: 24px;
    padding: 55px;
    border-radius: 15px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}